<div class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Game Of Thrones</h5>
      <h6 class="card-subtitle mb-2 text-muted">Meu pesonagem favorito é Tyrion</h6>
      <p class="card-text">Tyrion Lannister é uma personagem fictícia da série de livros A Song of Ice and Fire, escrita pelo autor norte-americano George R. R. Martin. Ele também é um dos personagens principais da adaptação televisiva Game of Thrones, onde é interpretado pelo o ator americano Peter Dinklage.</p>
    </div>
  </div>
</div>
