<div class="container">
  <form class="row g-3">
    <div class="col-12">
      <label for="inputNome" class="form-label">Nome</label>
      <input type="text" class="form-control" id="">

    </div>
    <div class="col-md-6">
      <label for="escola" class="form-label">Escola</label>
      <input type="text" class="form-control" id="escola">
    </div>
    <div class="col-md-6">
      <label for="inputCarga" class="form-label">Carga horaria</label>
      <input type="number" class="form-control" id="inputCarga" placeholder="carga horaria">
    </div>

    <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-2 pt-0">Opcional</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="sim" checked>
          <label class="form-check-label" for="gridRadios1">
            Sim
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="não">
          <label class="form-check-label" for="gridRadios2">
          Não
          </label>
        </div>
      </div>
    </fieldset>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
</div>
